body{
	font-family: Verdana, sans-serif;
	font-size:1rem;
	margin:0px;
	padding:0px;
	background-color:snow;
}
#headercontainer{
	margin:auto;
	padding:none;
	width:960px;
	background-color:gold;
	color: #ffffff;
	display:flex;
	justify-content: space-between;
	gap: 20px;
	
}
#headertextcontainer{
	align-self: center;
	background-color:deeppink;
	padding:10px;
	
}
#logocontainer{
	background-color:darkorchid;
	align-self: center;
	width:200px;
	height:200px;
}

#contentcontainer{
	width:960px;
	margin:auto;
	color: #ffffff;
	display:flex;
	justify-content: space-between;
	gap: 20px;
}

#leftcontainer{
	background-color:darkorchid;
	flex-basis:50%;
	padding:10px;
}
#rightcontainer{
	background-color:lawngreen;
	flex-basis:50%;
	padding:10px;
	overflow:hidden;
}


h1{
	margin:0px;
	padding:0px;
	font-size:1.3rem;
	
}

h2{
	margin:0px;
	padding:0px;
	font-size:1.1rem;
	
}
a{
	color:inherit;
}
ul {
  padding-left: 2rem;
}

@media only screen and (max-width: 960px){
	#headercontainer{
		width:90%;
		padding:3rem 0rem 3rem 0rem;
		flex-wrap: wrap;
		flex-direction:column;
	}
	#contentcontainer{
		width:90%;
		flex-direction:column;
	}
	#logocontainer{
		/*display:none;*/
	}
}
